@model BusinessObject.Object.Customer;

@{
    ViewData["Title"] = "Update";
}

<h2>Update Product</h2>

<form action="edit" method="post">
    Id: <input type="text" asp-for="Id" class="form-control" readonly />

    Full Name: <input type="text" asp-for="Fullname" class="form-control" />
    <span asp-validation-for="Fullname" class="text-danger"></span> <br />

    Birthday: <input type="date" asp-for="Birthday" class="form-control" />
    <span asp-validation-for="Birthday" class="text-danger"></span> <br />

    Gender: 
    @if (Model.Male)
    {
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="Male" value=true checked>
          <label class="form-check-label" for="Male">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="Female" value=false>
          <label class="form-check-label" for="Female">
            Female
          </label>
        </div>
    } 
    else
    {
       <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="Male" value=true>
          <label class="form-check-label" for="Male">
             Male
          </label>
       </div>
       <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" id="Female" value=false checked>
          <label class="form-check-label" for="Female">
             Female
          </label>
       </div>
    }
    <br />

    Phone Number: <input type="text" asp-for="PhoneNumber" class="form-control" />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span> <br />

    Email: <input type="email" asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span> <br />

    Point: <input type="text" asp-for="Points" class="form-control" />
    <span asp-validation-for="Points" class="text-danger"></span> <br />
    
    Type of Customer: 
    <select asp-for="TypeId" class ="form-control" asp-items="ViewBag.type"></select>
    <br />

    <input type="submit" value="Submit" class="btn btn-success" />
    <a href="/customer" class="btn btn-outline-primary">Back</a>
</form>